/* Global CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; /* Default font */
  font-size: 14px; /* Default font size */
}

body {
 background: #f2f4f7;

}
/* Ẩn thanh cuộn ngang nhưng vẫn cho phép cuộn nội dung */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên Chrome/Safari */
}
.no-scrollbar {
  -ms-overflow-style: none; /* Ẩn thanh cuộn trên IE và Edge */
  scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
}


@tailwind base;
@tailwind components;
@tailwind utilities;
